@charset "utf-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,address,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,video{margin:0;padding:0;border:0;}
body{width:100%;height:100%;line-height:1;font-family: "맑은 고딕",malgun gothic,"돋움",dotum,AppleGothic,sans-serif;color:#343b45;font-size:12px;background:#fff;letter-spacing:-1px;}
ol,ul{list-style:none}
a,a:link{color:#000;text-decoration:none}
.left {float:left;}
.right {float:right;}

/* 헤더 영역 */
.header_wrap{position:relative;margin:0 auto;width:960px;height:100px;background-color:#fff;}
.logo{position:absolute;z-index:999999;padding-top:22px;}
.top_area {width:100%; height:40px; background:#89705b;}
.top_area_wrap {width:960px; margin:0 auto; padding:13px 0 0; overflow:hidden; font-family:Tahoma;  color:#d7d7d7; letter-spacing:0;}
.top_area_wrap a {color:#b3b3b3;}
.top_area_wrap a:hover {color:#f2f2f2;}
.top_area_wrap .left li {float:left; padding:0 0 0 20px;}
.top_area_wrap .left li:first-child {float:left; padding:0;}
.top_area_wrap .right li {float:left; padding:0 0 0 20px;}
.top_area_wrap .right li:first-child {float:left; padding:0;}

.wrap_sub #container{margin:0 auto;padding:0 0 20px;width:960px;}
.wrap_sub #container:after{display:block;clear:both;content:''}

/* 메뉴 뎁스  */
.nav{position:absolute;z-index:99;top:40px;width:960px;}

.nav_promotion {position:absolute; overflow:hidden; border:0; padding:20px 0 0;}

.nav li{float:left;padding-bottom:10px;}
.nav li a{margin:-10px;padding:10px;display:inline-block;color:#1a1c22;font-weight:bold;font-size:16px;letter-spacing:-1px;line-height:1.4;}
.nav li a .txt_ls{letter-spacing:-2px}
.nav li a:hover .txt_ls{letter-spacing:-3px}
.nav li.on a, .nav li a:hover{color:#0064b5;font-weight:bold;text-decoration:none;letter-spacing:-1px;}
.nav_depth{display:none;position:relative;z-index:999;margin:39px 9px 0 -9px;padding:10px 0 0 9px;height:100px;*height:100px;letter-spacing:-1px; border-right:1px #e5e5e5 solid;}
.nav_depth.on{display:block}
.nav_depth li{float:none;padding-bottom:0px;letter-spacing:-1px;}
.nav_depth li a{margin:0px;padding:0px;color:#636363 !important;letter-spacing:-1px;font-size:12px;line-height:2;font-weight:normal !important;}
.nav_depth li a:hover{color:#006cb8 !important;font-weight:bold !important;text-decoration:none;letter-spacing:-1px;}
.nav .list00{width:265px;}
.nav .list01{width:117px;}
.nav .list02{width:117px;}
.nav .list03{width:117px;}
.nav .list04{width:117px;}
.nav .list05{width:117px;}
.nav .list07{width:110px;}
.nav .list07 .nav_depth{margin-right:0;}
.nav_bg{display:none; position:absolute; z-index:1; margin:140px 0 0; width:100%; min-width:960px; height:110px; background:#ffffff; box-shadow: 0 5px 5px rgba(0,0,0,0.06); border-top:1px #e5e5e5 solid; border-bottom:1px #e5e5e5 solid; background:#f7f7f7;}
.nav_bg.over{display:block;}
.nav_bg_in{margin:0 auto;width:960px;overflow:hidden;}
.prd_area{padding-left:0px;}

.nav_span {letter-spacing:-1px;font-size:13px;line-height:2;font-weight:normal !important;}



/* 푸터 */
#footer {width:960px; height:180px; margin: auto; border-top:1px #e1e1e1 solid; padding:20px 0 0;}
#footer .information {float:left; width:600px; overflow:hidden; font-weight:bold;}
#footer .information li {float:left; padding:3px 0 0 10px; overflow:hidden; height:20px;}
#footer .information .pdf_download {--background:url('/img/common/footer_icon_pdf.gif') no-repeat;--}

#footer .totop {float:right; width:360px; height:20px; overflow:hidden; text-align:right;}

#footer .midas_info {float:left; width:554px; overflow:hidden;  margin:30px 0 0; line-height:20px; color:#848484;}
#footer .midas_info span {letter-spacing:0;}
#footer .midas_info li {float:left; width:600px;}

#footer .muss_info {float:right; width:316px; overflow:hidden;  color:#848484; font-size:11px;}
#footer .muss_info a {color:#848484;}
#footer .muss_info a:hover {color:#52b8ef;}
#footer .muss_info .title {float:left; width:316px; text-align:right; padding:0 0 12px; font-size:12px;}
#footer .muss_info .biz_01 {float:left; width:40px; height:16px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_01_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_01:hover {background:url('/img/common/biz_01_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_02 {float:left; width:40px; height:16px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_02_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_02:hover {background:url('/img/common/biz_02_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_03 {float:left; width:40px; height:16px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_03_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_03:hover {background:url('/img/common/biz_03_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_04 {float:left; width:40px; height:16px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_04_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_04:hover {background:url('/img/common/biz_04_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_05 {float:left; width:40px; height:22px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_05_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_05:hover {background:url('/img/common/biz_05_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_06 {float:left; width:40px; height:16px; padding:50px 0 0; text-align:center; background:url('/img/common/biz_06_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_06:hover {background:url('/img/common/biz_06_over.gif') center top no-repeat; color:#52b8ef;}
#footer .muss_info .biz_07 {float:left; width:40px; height:22px; padding:50px 0 0; margin:0 6px 0 0; text-align:center; background:url('/img/common/biz_07_nor.gif') center top no-repeat; color:#848484;}
#footer .muss_info .biz_07:hover {background:url('/img/common/biz_07_over.gif') center top no-repeat; color:#52b8ef;}

