
*.bin
*.class
.settings/org.eclipse.wst.common.component
.classpath
.gradle/4.3/fileHashes/fileHashes.bin
.gradle/4.3/fileHashes/fileHashes.lock
.gradle/4.3/taskHistory/taskHistory.bin
.gradle/4.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.settings/org.eclipse.wst.common.component
